<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6" *ngFor="let md of menuData">
            <a routerLink="../gallery" class="btn btn-primary mb-3 ">Back</a>
            <img src="{{path+'/'+md.ImagePath}}" width="100%"/>
        </div>
    </div>
        
            
            <div *ngFor="let md of menuData">
                <div class="container-fluid">
                    <h1 >Purchase Details</h1>
                    
                    <div class="col-md-5 mt-4">
                        <div class="card mb-3">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Art Name</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{md.ImageName}}
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Price</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{md.Prize | currency:'INR'}}
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Owner Name</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{md.FullName}}
                              </div>
                            </div>                            
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  {{md.Email}}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Mobile Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  {{md.MobNumber}}
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  {{md.Description}}
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
            </div>


        </div> 

        </div>