<div class="container mt-4 mb-3">
    <button (click)="OpenGalary()" class="btn btn-primary" routerLinkActive="activelink">Gallery</button>
    <button (click)="Mydata()" class="btn btn-primary" routerLinkActive="activelink">My Uploads</button>
    <button (click)="addimage()" class="btn btn-primary" routerLinkActive="activelink">Add Images</button>
    <button (click)="myprofile()" class="btn btn-primary" routerLinkActive="activelink">My Profile</button>
</div>
<hr>
<router-outlet></router-outlet>

